body            {font-family: arial, helvetica, geneva, sans-serif; font-size: x-small; color: #000000; background-color: #F5F5F5}
pre, tt         {font-size: x-small}
th              {font-family: arial, helvetica, geneva, sans-serif; font-size: x-small; font-weight: bold; color: #000000; background-color: #D3DCE3}
td              {font-family: arial, helvetica, geneva, sans-serif; font-size: x-small; background-color: #ffffff }
form            {font-family: arial, helvetica, geneva, sans-serif; font-size: x-small}
input           {font-family: arial, helvetica, geneva, sans-serif; font-size: x-small}
input.textfield {font-family: arial, helvetica, geneva, sans-serif; font-size: x-small; color: #000000; background-color: #FFFFFF}
select          {font-family: arial, helvetica, geneva, sans-serif; font-size: x-small; color: #000000; background-color: #FFFFFF}
textarea        {font-family: arial, helvetica, geneva, sans-serif; font-size: x-small; color: #000000; background-color: #FFFFFF}
h1              {font-family: arial, helvetica, geneva, sans-serif; font-size: large; font-weight: bold}
A:link          {font-family: arial, helvetica, geneva, sans-serif; font-size: x-small; text-decoration: none; color: #0000FF}
A:visited       {font-family: arial, helvetica, geneva, sans-serif; font-size: x-small; text-decoration: none; color: #0000FF}
A:hover         {font-family: arial, helvetica, geneva, sans-serif; font-size: x-small; text-decoration: underline; color: #FF0000}
A.nav:link      {font-family: arial, helvetica, geneva, sans-serif; color: #000000}
A.nav:visited   {font-family: arial, helvetica, geneva, sans-serif; color: #000000}
A.nav:hover     {font-family: arial, helvetica, geneva, sans-serif; color: #FF0000}
.nav            {font-family: arial, helvetica, geneva, sans-serif; color: #000000}
.warning        {font-family: arial, helvetica, geneva, sans-serif; font-size: x-small; font-weight: bold; color: #FF0000}


.normal { FONT-SIZE: 8pt } 
.soustitre { FONT-SIZE: 10pt; FONT-WEIGHT: bold } 
.champform { FONT-SIZE: 8pt; LINE-HEIGHT: 10pt } 
.bouton { FONT-SIZE: 8pt; LINE-HEIGHT: 10pt; WIDTH: 125px } 
.selectform { FONT-SIZE: 8pt; LINE-HEIGHT: 10pt; WIDTH: 125px } 
.show { DISPLAY: inline } .hide { DISPLAY: none } 

.PortletHeaderColor { background-color: #336699; } 
.RegionNoBorder{} .RegionBorder { border: #336699 1px solid } 
.PageColor { background-color: #FFFFFF; } .PageBgImage { } 
.PageBg { background-color: #FFFFFF; } 
.LeftCurve { background-image: url(images/FFFFFFl.gif); background-repeat: no-repeat; background-position: left top; background-attachment: scroll; } 
.RightCurve{ background-image: url(images/FFFFFFr.gif); background-repeat: no-repeat; background-position: right top; background-attachment: scroll; } 
.PortletBodyColor { background-color: #FFFFFF; } 
.RegionHeaderColor { background-color: #FFFFFF; border: #336699 0px solid } 
.PortletSubheaderColor { background-color: #EEEEDD; } 
.PortletHeaderText { font-family: Arial, Helvetica; font-size: 10pt; color: #FFFFFF; font-weight: bold ; } 
.PortletHeaderLink { font-family: Arial, Helvetica; font-size: 8pt; color: #FFFFFF; } 
.PortletSubHeaderText { font-family: Arial, Helvetica; font-size: 9pt; color: #000000; } 
.PortletSubHeaderLink { font-family: Arial, Helvetica; font-size: 9pt; color: #000000; } 
.PortletHeading1 { font-family: Arial, Helvetica; font-size: 9pt; color: #336699; font-weight: bold ; } 
.PortletText1 { font-family: Arial, Helvetica; font-size: 9pt; color: #000000; } 
.PortletHeading2 { font-family: Arial, Helvetica; font-size: 8pt; color: #336699; font-weight: bold ; } 
.PortletText2 { font-family: Arial, Helvetica; font-size: 8pt; color: #000000; } 
.PortletHeading3 { font-family: Arial, Helvetica; font-size: 7pt; color: #336699; font-weight: bold ; } 
.PortletText3 { font-family: Arial, Helvetica; font-size: 7pt; color: #000000; } 
.PortletHeading4 { font-family: Arial, Helvetica; font-size: 7pt; color: #336699; font-weight: bold ; } 
.PortletText4 { font-family: Arial, Helvetica; font-size: 7pt; color: #000000; } 
.BannerColor { background-color: #FFFFFF; } 
.BannerGreeting { font-family: Arial, Helvetica; font-size: 16pt; color: #336699; font-weight: bold ; } 
.BannerTitle { font-family: Arial, Helvetica; font-size: 16pt; color: #336699; font-weight: bold ; } 
.BannerLink { font-family: Arial, Helvetica; font-size: 8pt; color: #663300; } 
.BannerSecondaryLink { font-family: Arial, Helvetica; font-size: 8pt; color: #663300; } 
.BannerSecondaryText { font-family: Arial, Helvetica; font-size: 8pt; color: #663300; } 
.TabForegroundColor { background-color: #336699; } 
.TabForegroundText { font-family: Arial, Helvetica; font-size: 9pt; color: #FFFFFF; font-weight: bold ; } 
.TabBackgroundColor { background-color: #CCCC99; } 
.TabBackgroundText { font-family: Arial, Helvetica; font-size: 9pt; color: #003366; text-decoration: none; } 
.SubTabBgText{ font-family: Arial, Helvetica; font-size: 9pt; color: #CCCC99; font-weight: bold ; text-decoration: none; } 

.LeftTabBgSlant { background-image: url(images/FFFFFFtl.gif); background-repeat: no-repeat; background-position: left top; background-attachment: scroll; background-color: #CCCC99; } 
.LeftTabForeSlant { background-image: url(images/FFFFFFtl.gif); background-repeat: no-repeat; background-position: left top; background-attachment: scroll; background-color: #336699; } 

.LeftSubTab { background-image: url(images/FFFFFFsl.gif); background-repeat: no-repeat; background-position: left top; background-attachment: scroll; background-color: #336699; } 
.RightTabBgCurve{ background-image: url(images/FFFFFFtr.gif); background-repeat: no-repeat; background-position: right top; background-attachment: scroll; background-color: #CCCC99; } 
.RightTabForeCurve{ background-image: url(images/FFFFFFtr.gif); background-repeat: no-repeat; background-position: right top; background-attachment: scroll; background-color: #336699; } 
.RightSubTab{ background-image: url(images/FFFFFFsr.gif); background-repeat: no-repeat; background-position: right top; background-attachment: scroll; background-color: #336699; } 

/*
	Default styles
*/
body, td, p, li, div, span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

img   { border: 0; }
input { margin: 0px; vertical-align: middle; }
table { empty-cells: show; }

/*
	Table: header arrows
*/
td img.orderarrow {
	float: right;
	clear: none;
	vertical-align: top;
}

/* 
	Footer
*/
#footer {
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
	text-decoration: none;
	white-space: nowrap;
}

#footer a:hover {
	color: #000000;
	text-decoration: none;
	white-space: nowrap;
}

/*
	Menu right side
*/
#extramenu {
	float: right;
	vertical-align: middle;
}

#extramenu li {
	list-style-image: none;
	list-style-type: none;
	display: inline;
	width: auto;
	border: none;
	margin: 0px;
	padding-left: 8px;
}

#extramenu li a {
	display: inline;
}

/*
	Links
*/
a.link {
	color : #999999;
	text-decoration: none;
}

a.link:hover {
	color : #666666;
	text-decoration: none;
}

/*
	Labels
*/
.headerLabel {
	color: #EEEEEE;
}

.Label {
	color: #EEEEEE;
	font-weight: bold;
}

/*
	Box colors
*/
.lightCell {
	background-color: #FFFCE3;
}

/*
	Page frame
*/
td.septop {
	background-image: url(../images/@@/hr_top.gif);
}

td.sepbottom {
	background-image: url(../images/@@/hr_bottom.gif);
}

td.content {
	background-image: url(../images/@@/hc.gif);
	background-repeat: repeat-y;
	background-position: right;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

tr.bottom {
	background-color: 8E908E;
	height: 25px;
}

td.cellleft_header {
	background-image: url(../images/@@/cellleft_header.gif);
	width: 205px;
	height: 43px;
}

td.cellright_header {
	background-image: url(../images/@@/cellright_header.gif);
	height: 43px;
}

/*
	Team, information... tables
*/
#tableblue {
	border-collapse:collapse;
}

#tableblue td.tabblue {
	background-image: url(../images/@@/tabblue_border.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 1px;
}

#tableblue td.tabblue_content {
   border-bottom: #B0B8E2 1px solid;
   border-left: #B0B8E2 1px solid;
   border-right: #B0B8E2 1px solid;
}

#tableblue td.tabblue_begin {
	background-image: url(../images/@@/tabblue_begin.gif);
	background-repeat: no-repeat;
	width: 3px;
	height: 28px;
}

#tableblue td.tabblue_cell {
	background-image: url(../images/@@/tabblue_back.gif);
	background-repeat: repeat-x;
	padding-right: 8px;
	padding-left: 8px;
	font-weight: bold;
	color: #666666;
	white-space: nowrap;
	height: 28px;
}

#tableblue td.tabblue_end {
	background-image: url(../images/@@/tabblue_end.gif);
	background-repeat: no-repeat;
	width: 4px;
	height: 28px;
}

#tableblue #content {
	border-collapse:collapse;
}

#tableblue #content #tabblue_header {
	background-color: E5E9FD;
	padding-right: 8px;
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom: #9DA7D2 1px dotted;
}

#tableblue #content #tabblue_header a, a:visited {
	color : #666666;
	text-decoration: none;
}

#tableblue #content #tabblue_header a:hover {
	color : #333333;
	text-decoration: none;
}

#tableblue #content #tabblue_header td {
	font-weight: bold;
	color: #666666;
	border-bottom: #9DA7D2 1px dotted;
	vertical-align: middle;
	white-space: nowrap;
}

#tableblue #content #tabblue_header td.label {
	font-weight: bold;
	color: #666666;
	border-bottom: #9DA7D2 1px dotted;
	white-space: nowrap;
	text-align: right;
	width: 250px;
}
#tableblue #content #tabblue_header td.llabel {
	font-weight: bold;
	color: #666666;
	border-bottom: none;
	white-space: nowrap;
	text-align: right;
	width: 250px;
}

#tableblue #content #tabblue_header td     { border-right: #DBE0EB 1px solid; }
#tableblue #content #tabblue_header td.nb  { border-right: none; }
#tableblue #content #tabblue_header td.nbb { border-bottom: none;}
#tableblue #content #tabblue_header td.nbe { border-right: none; border-bottom: none;}

#tableblue #content #tabblue_row {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: F6F8FE;
	padding-right: 8px;
	padding-left: 8px;
	border-collapse: collapse;
}
#tableblue #content #tabblue_altrow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #E8EEFD;
	padding-right: 8px;
	padding-left: 8px;
	border-collapse: collapse;
}

#tableblue #content #tabblue_row a, a:visited { color : #666666; text-decoration: none; }
#tableblue #content #tabblue_row a:hover { color : #333333; text-decoration: none; }
#tableblue #content #tabblue_altrow a, a:visited { color : #666666; text-decoration: none; }
#tableblue #content #tabblue_altrow a:hover { color : #333333; text-decoration: none; }

#tableblue #content #tabblue_row td { border-left: none; border-right: #DBE0EB 1px solid; }
#tableblue #content #tabblue_row td.nb { border-right: none; }
#tableblue #content #tabblue_altrow td { border-left: none; border-right: #DBE0EB 1px solid; }
#tableblue #content #tabblue_altrow td.nb { border-right: none; }


/* Unread item table */
td.tabunread {
	background-image: url(../images/@@/tabunread_border.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 1px;
}

td.tabunread_content {
	border-bottom: #CFBB48 1px solid;
	border-left: #CFBB48 1px solid;
	border-right: #CFBB48 1px solid;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

td.tabunread_begin {
	background-image: url(../images/@@/tabunread_begin.gif);
	background-repeat: no-repeat;
	width: 3px;
	height: 28px;
}

td.tabunread_cell {
	background-image: url(../images/@@/tabunread_back.gif);
	background-repeat: repeat-x;
	padding-right: 8px;
	padding-left: 8px;
	font-weight: bold;
	color: #666666;
	white-space: nowrap;
	height: 28px;
}

td.tabunread_end {
	background-image: url(../images/@@/tabunread_end.gif);
	background-repeat: no-repeat;
	width: 4px;
	height: 28px;
}

table.unread_box {
	border-top: #D1AD6B 1px dotted;
	border-left: #D1AD6B 1px dotted;
	border-bottom: #D1AD6B 1px dotted;
}

#tabunread_header {
	background-color: F9F2CA;
	padding-right: 8px;
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}

#tabunread_header td {
	border-right: #D1AD6B 1px dotted;
	border-bottom: #D1AD6B 1px dotted;
	font-weight: bold;
	color: #666666;
}

#tabunread_row td.title {
	background-color: F9F2CA;
	font-weight: bold;
	color: #666666;
}

#tabunread_row {
	padding-right: 8px;
	padding-left: 8px;
}

#tabunread_row td { border-right: #D1AD6B 1px dotted; }
#tabunread_row td.item    { background-color: FEFCF0; border-right: #D1AD6B 1px dotted; }
#tabunread_row td.altitem { background-color: FFFFFF; border-right: #D1AD6B 1px dotted; }
#tabunread_row td.item_b    { background-color: FEFCF0; }
#tabunread_row td.altitem_b { background-color: FFFFFF; }


#tabunread_row_alt td.title {
	background-color: F9F2CA;
	font-weight: bold;
	color: #666666;
}

#tabunread_row_alt {
	padding-right: 8px;
	padding-left: 8px;
}

#tabunread_row_alt td { 
	background-color : #E5E5E5;
        border-right: #D1AD6B 1px dotted; 
                       	}
#tabunread_row_alt td.item    { background-color: FEFCF0; border-right: #D1AD6B 1px dotted; }
#tabunread_row_alt td.altitem { background-color: FFFFFF; border-right: #D1AD6B 1px dotted; }
#tabunread_row_alt td.item_b    { background-color: FEFCF0; }
#tabunread_row_alt td.altitem_b { background-color: FFFFFF; }



/* Tab menu (top) */
table.tabmain {
	padding: 0px;
}

td.tabbegin {
	background-image: url(../images/@@/menu/tab_begin.gif);
	background-repeat: no-repeat;
	width: 4px;
	height: 29px;
}

td.tabend {
	background-image: url(../images/@@/menu/tab_end.gif);
	background-repeat: no-repeat;
	background-position: bottom;
	width: 2px;
	height: 29px;
}

td.tabsep {
	background-image: url(../images/@@/menu/tab_back.gif);
	width: 2px;
	height: 17px;
}

td.tabcellrow {
	background-image: url(../images/@@/menu/tab_back.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	padding-right: 0px;
	padding-left: 0px;
}

td.tabcell {
	background-image: url(../images/@@/menu/tab_back.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	padding-right: 8px;
	padding-left: 8px;
	color: #504E43;
}

td.tabcell_sel {
	background-image: url(../images/@@/menu/tab_backsel.gif);
	background-repeat: repeat-x;
	padding-right: 8px;
	padding-left: 8px;
	color: #504E43;
}

td.tabcell_hover {
	background-image: url(../images/@@/menu/tab_backsel.gif);
	padding-right: 8px;
	padding-left: 8px;
	color: #504E43;
}

a.tabItem {
	color: #504E43;
	text-decoration: none;
	white-space: nowrap;
}

a.tabItem:hover {
	color: #000000;
	text-decoration: none;
	white-space: nowrap;
}

/*
	Graphic buttons
*/
.hiddenPic { display: none; }

.icon {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	background-repeat: no-repeat;
	width: 102px;
	height: 21px;
	vertical-align: middle;
	text-align: center;
	text-indent: 0px;
	float: none;
	padding: 3 0 0 20;
	position: relative;
	left: -0px;
}

a.button, a.button:visited {
	display: block;
	background-color: transparent;
	background-image: url(../images/@@/button/button.gif);
	background-repeat: no-repeat;
	width: 102px;
	height: 21px;
	text-align: center;
	font-weight: normal;
	text-decoration: none;
	color: #666666;
	text-indent: 18px;
	vertical-align: middle;
	cursor: hand;
}
a.button:hover {
	color: #666666;
	font-weight: bold;
	background-position: 0 -21px;
}

#buttonPreferences .icon { background-image: url(../images/@@/button/icon_preferences.gif); }
#buttonLogout .icon { background-image: url(../images/@@/button/icon_logout.gif); }

.iconf {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	background-repeat: no-repeat;
	width: 114px;
	height: 24px;
	vertical-align: middle;
	text-align: center;
	text-indent: 0px;
	float: none;
	padding: 3 0 0 20;
	position: relative;
	left: -0px;
}
a.buttonf {
	display: block;
	/* background-color: transparent; */
	background-image: url(../images/@@/button/buttonf.gif);
	background-repeat: no-repeat;
	width: 114px;
	height: 24px;
	text-align: center;
	font-weight: normal;
	text-decoration: none;
	color: #666666;
	text-indent: 18px;
	vertical-align: middle;
	cursor: hand;
}
a.buttonf:hover { 
	color: #666666;
	font-weight: bold;
	background-position: 0% -24px;
}

#buttonSave .iconf { background-image: url(../images/@@/button/icon_save.gif); }
#buttonAddMember .iconf { background-image: url(../images/@@/button/icon_addmember.gif); }
#buttonAddGroup .iconf { background-image: url(../images/@@/button/icon_addgroup.gif); }

/*
	Field Titles, remarks & Constants
*/
.fieldTitle {
	color: #553F00;
	font-weight: bold;
}

.fieldRemark {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
}

.fieldConstant {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
}

.radioLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
}

/*
	Fields
*/
#tabblue_header input, textarea, select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
   border-top: #CDD2E5 1px solid;
   border-left: #CDD2E5 1px solid;
   border-right: #E5E9FD 1px solid;
   border-bottom: #E5E9FD 1px solid;
}

.fieldyellow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
   border-top: #927402 1px solid;
   border-left: #927402 1px solid;
   border-right: #CBB76E 1px solid;
   border-bottom: #CBB76E 1px solid;
}

.fieldblue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
   border-top: #CDD2E5 1px solid;
   border-left: #CDD2E5 1px solid;
   border-right: #E5E9FD 1px solid;
   border-bottom: #E5E9FD 1px solid;
}

.loginfield {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
   border-top: #947702 1px solid;
   border-left: #947702 1px solid;
   border-right: #CCB572 1px solid;
   border-bottom: #CCB572 1px solid;
}

/*
	Alert box
*/
#pinktborder {
   border-right: #FFBCAF 1px solid;
   border-top: #FFBCAF 1px solid;
	background-color: #FFF0ED;
}

#pinkmborder {
   border-right: #FFBCAF 1px solid;
}

#pinkbborder {
   border-bottom: #FFBCAF 1px solid;
   border-right: #FFBCAF 1px solid;
	background-color: #FFF0ED;
}

#alerttop {
	background-image: url(../images/@@/alert/alert_top.gif);
	background-repeat: no-repeat;
	width: 4px;
	height: 4px;
}

#alertbottom {
	background-image: url(../images/@@/alert/alert_bottom.gif);
	background-repeat: no-repeat;
	width: 4px;
	height: 4px;
}

#alertdark {
	background-color: #FFBCAF;
}

#alertlight {
	background-color: #FFF0ED;
}

#alertleftshadow {
	background-image: url(../images/@@/alert/alert_shadow.gif);
	background-repeat: no-repeat;
}

#alertshadow {
	background-color: #F3F3F3;
}
.flat, .envoi
{
   BORDER-TOP: #dddddd 1px solid;
   BORDER-LEFT: #8d8d8d 1px solid;
   BORDER-RIGHT: #545454 1px solid;
   BORDER-BOTTOM: #535353 1px solid;
   BACKGROUND-COLOR: #EEEEEE;
   FONT-WEIGHT: normal;
   FONT-SIZE: 75%;
   CURSOR: hand;
   COLOR: #090909;
}